# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
.pnpm-debug.log*

# Optional cache & logs
.cache/
dist/
coverage/
build/
*.log
*.tsbuildinfo

# dotenv environment variables
.env
.env.*.local

# OS-specific
.DS_Store
Thumbs.db

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Webpack & Babel
webpack-stats.json
.parcel-cache/
