<div class="yligood-success-notification">
  <div class="yligood-header">预约成功</div>
  <div class="yligood-notification-content">
    <div class="yligood-order-details">
      <div class="yligood-form-group">
        <label>订单号:</label>
        <div id="yligood-order-number" class="yligood-value"></div>
      </div>
      <div class="yligood-form-group">
        <label>订场信息:</label>
        <div id="yligood-order-place" class="yligood-value"></div>
      </div>
      <div class="yligood-form-group">
        <label>场地使用者:</label>
        <div id="yligood-order-user" class="yligood-value"></div>
      </div>
      <div class="yligood-form-group">
        <label>同伴信息:</label>
        <div id="yligood-order-partner" class="yligood-value"></div>
      </div>
    </div>
    <div class="yligood-note">预约已成功提交，请按时到场使用</div>
  </div>
  <button id="yligood-close-notification" class="yligood-button primary">关闭提示</button>
</div>
